:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --background-white: #ffffff;
  --background-black: #000000;
  --color-visited: #898946;
  --color-active: #489c79;
  --button-background-color: #7570A4;


}

 *{
  box-sizing: border-box;
 }

body {
  background-color: var(--background-white);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--text-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--text-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--text-weight);
}

a {
  color: var(--color-visited);
}

a:hover a:focus {
  text-decoration: none;
}



a:active {
  color: var(--color-active);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--button-background-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: var(--background-white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
.navigation-list__item--active {
  text-decoration: none;
}

.paragraph__code {
  background-color: var(--background-black);
  color: var(--paragraph-code-color);
}

.paragraph__special-text {
  color: var(--paragraph-special-text-color);
  font-family: 'Cinzel', serif;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
}

.page-footer {
    clear: both;
	text-align: center;
  width: 30px;
  height: 30px;

}
.profile__text {
    flex: 1 1 100px;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
   background-color: lightgray;
   width: auto;
   min-height: auto;
   margin: 0;
 }
 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
 }

 @media all and (max-width: 500px) {
   .grid {
     grid-template-columns: 1fr;
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   h1 {
     font-size: 22px;
   }
 }

 @media all and (min-width: 500px) and (max-width: 750px){
   .grid {
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   h1 {
     font-size: 22px;
   }
 }

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

.standard-body {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
}


/* Animations */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
from {
  transform: translate(0, 50px);
}
to {
  transform: translate(200px, 50px)
}
}

@keyframes cloud-move-reverse {
from {
  transform: translate(446px, 48px);
}
to {
  transform: translate(100px, 48px);
}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
animation: 34s cloud-move-reverse
 infinite alternate linear;
}

@keyframes background-shift {
0% {
  transform: translate(0, 0);
}
25% {
  transform: translate(15px, 15px);
  transform: rotate(-3deg);
}
50% {
  transform: translate(-15px, -15px);
}
75% {
  transform: translate(-15px, 15px);
  transform: rotate(3deg);
}
100% {
  transform: translate(15px, -15px);
}
}
#icons {
animation: 3s background-shift infinite alternate linear;
}

@keyframes typing {
25% {
  transform: translate(0, 5px);
}
50% {
  transform: translate(0, -5px);
}
75% {
  transform: translate(0, 5px);
}
100% {
  transform: translate(0, -5px);
}
}
@keyframes typing-r {
25% {
  transform: translate(0, -5px);
}
50% {
  transform: translate(0, 5px);
}
75% {
  transform: translate(0, -5px);
}
100% {
  transform: translate(0, 5px);
}
}
#hand_l{
animation: 1s typing infinite alternate linear;
}
#hand_r {
animation: 1s typing-r infinite alternate linear;
}

@keyframes wiggle {
from {
  transform: rotate(-1deg);
}
}
to {
  transform: rotate(-2deg);
}
#laptop {
animation:5s wiggle infinite alternate linear;
